{% extends "layout.html" %}
{% block content %}

<!DOCTYPE html>

<html>
<body>
<script>
    function change_heart_color() {
        let icon = document.getElementById("heart");
        if (icon.style.color == "black") {
            icon.style.color = "red";
        }
        else if (icon.style.color == "red") {
            icon.style.color = "black";
        }
    }
</script>

<hr>
<h3>{{ show_this_recipe[1] }}</h3>
<i>Type: {{ show_this_recipe[2] }}</i><BR><BR>
<b>Ingredients</b>:<BR>
1 dl {{ show_this_recipe[4] }}<BR>
1 dl {{ show_this_recipe[5] }}<BR>S
0,25 - 0,5 dl {{ show_this_recipe[6] }}<BR>
0,5 - 1 dl {{ show_this_recipe[7] }}<BR>
0,5 - 1 dl {{ show_this_recipe[8] }}<BR>
0,5 - 1 tbs {{ show_this_recipe[9] }}<BR><BR><BR>

Peel and chop/grate fruits/vegetables.<BR><BR>
Add all ingredients to the bowl and mix well. <BR><BR>
Cover the bowl with a lid and keep in a refridgerator 1-2 hours or over night.<BR><BR>
Enjoy!
<BR><BR><BR>
<hr>
<b>{{ note }}</b><BR>
<hr><BR>

{% for comment in recipe_comments %}
<i>{{ comment[4] }}:</i><BR><BR>
{{ comment[3] }}<BR>
<hr>
{% endfor %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<BR><b>Add as favorite:</b><BR>

<form action="/favorite" method="post">
<button type="subit" onclick="change_heart_color()">
<span id="heart" style="color:black;">&#9829;</span>
</button>
<input type="hidden" name="favorite" value="{{ show_this_recipe[0] }}"><BR><BR>
</form>

<B>Comment this recipe:</B>
<form action="/add_comment" method="post" onsubmit="return check(this)"><BR>
<input type="hidden" name="recipe_id" value="{{ show_this_recipe[0] }}"> <BR>
<textarea id="new_comment" name="new_comment" rows="4" cols="50" required></textarea><BR>
<input type="submit" value="Save"><BR><BR>
</form>

<B>Review this recipe:</B><BR>
<form action="/review" method="post">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span><BR><BR>

<script>
function check(form) {
    if (form.new_comment.value.length > 1000) {
        alert("Error: your comment is too long. Please shorten it to maximum 1000 characters. Tip: include only  main ingredient names in the title.");
        return false;
    }
    return true;
}
</script>

<BR>
<a href="/mainpage">Return to main page</a><BR>
<a href="/logout">Log out</a>


</body>
</html>

{% endblock %}
