<!DOCTYPE html>
<title>Creating a new user account</title>
<BR><BR>
<b>To use this page you will need an user account.</b>
<BR><BR>
Creating the account and using this app is free.
<BR><BR>
Choose a unique username that has at least 3 characters.
<BR><BR>
<form action="/send" method="POST">
    Choose username: <input type="text" name="username" minlength="3"> <BR>
    Choose password: <input type="text" name="password1"> <BR>
    Repeat the password: <input type="text" name="password2"> <BR><BR>
    <input type="submit" value="Save">
    </form>

    <BR><BR>

    <form action="\main_page.html"></form>
        <input type="submit" value="Return to the main page">
    </form>

    <input type="button" value="Log out">
