<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}
<h2>Recipe search</h2>
<BR>
<BR><BR>
<a href="/mainpage">Return to main page</a><BR>
<a href="/logout">Log out</a><BR><BR>

<h3>Search by type:</h3>
[NOTE: links below are placeholders, not functional yet]<BR>
<a href="/">Delicacy recipes</a><BR>
<a href="/">Gluten free recipes</a><BR>
<a href="/">Healthy recipes recipes</a><BR>
<a href="/">Power food recipes</a><BR>
<a href="/">Vegan recipes</a><BR><BR><BR>


<h3>Search by keyword:</h3>

<form action="/search_function" method="GET">
<b>Search from recipe names: </b><input type="text" name="query1"><BR>
<b>Search from recipe ingredients: </b><input type="text" name="query2"><BR>
<input type="submit" value="Search"><BR><BR>
</form>

{% endblock %}